.nav {
  width: auto !important;
}

.video-gallery {
  background: #000;
  margin: 6px 0;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url('/img/loader.gif') 50% 50% no-repeat rgba(255, 255, 255, 1);
  opacity: 1;
}
#about-container {

  padding-top: 100px;
}

.about {
  min-height: 100vh;
  position: relative;
  display: grid;
  margin: auto;
}

.about-img img {
  width: auto;
  max-height: 500px;
  border: 12px solid #fff;
}

.about-text {
  font-size: 1.2rem;
}


/* menu apple */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-m {
  font-family: sans-serif;
  display: none;
  position: relative;
  min-height: 48px;
  max-width: 1024px;
  margin: 0 auto;
  z-index: 9;
}

.menu-m .main-menu {
  z-index: 2;
  top: 48px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 48px;
  height: auto;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-delay: 10s;
  transition-delay: 10s;
  background-color: rgba(255, 138, 202, 0.15);
  transition: background 0.45s linear, max-height 0.35s ease-in 200ms;
  max-height: 0;
}

.tm:checked~.main-menu {
  visibility: visible;
  max-height: 100%;
  -webkit-transition-delay: 10s;
  transition-delay: 10s;
  background: rgba(255, 138, 202, 0.9);
  transition: background 0.35s linear, max-height 0.35s ease-in-out 200ms;
  height: 100%;
}

.menu-m a.logo {
  position: fixed;
  top: 0;
  text-align: center;
  margin: auto;
  z-index: 999;
}

.menu-m input[type="checkbox"],
.menu-m ul span.drop-icon {
  display: none;
}

.menu-m .sub-menu {
  background-color: #444;
  margin: 0 1em;
}


.menu-m li,
[for="tm"],
.menu-m a {
  color: white;
  overflow: hidden;
}

[for="tm"] {
  background: rgba(255, 138, 202, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0 70px;
  line-height: 48px;
  height: 48px;
}

.tm:checked~[for="tm"] {
  background-color: rgba(255, 138, 202, 0.7);
  border-bottom: 1px solid black;
}

.menu-m a {
  padding: 1em 20px;
  font-weight: 100;
  display: inline-block;
  width: 100%;
  transition: all .125s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  font-size: 15px;
}

.menu-m ul li:focus,
.menu-m ul li:hover,
.current-menu-item {
  color: #000;
  background-color: white;
}

.menu-m ul li:hover a {
  color: #000;
}

.modal iframe {
  height: 370px;
  -webkit-box-shadow: 0px 0px 15px 5px #FF6EED;
  box-shadow: 0px 0px 15px 5px #FF6EED;
}

@media only screen and (min-width: 1024px) {

  .menu-m .main-menu,
  .tm:checked~.main-menu {
    display: block;
    opacity: 1;
    max-height: initial;
    top: 0;
    visibility: visible;
    max-height: initial;
    background-color: #000;
    height: 60px;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    max-width: 1024px;
    margin: 0 auto;
  }

  [for="tm"],
  .menu-m label.drop-icon {
    display: none;
  }

  .menu-m ul span.drop-icon {
    display: inline-block;
  }

  .menu-m li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    transform: none;
    width: auto;
    height: 58px;
  }

  .menu-m .main-menu>li {
    opacity: 1;
  }

  .menu-m ul li:hover,
  .current-menu-item {
    background-color: rgba(255, 255, 255, 0);
  }

  .menu-m ul li:hover a {
    color: white;
  }
}

.main-menu>li {
  height: 48px;
  /* 	border-bottom: 1px solid #333; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}

.main-menu>li:nth-child(9) {
  transition-delay: 450ms, 450ms
}

.main-menu>li:nth-child(8) {
  transition-delay: 400ms, 400ms
}

.main-menu>li:nth-child(7) {
  transition-delay: 350ms, 350ms
}

.main-menu>li:nth-child(6) {
  transition-delay: 300ms, 300ms
}

.main-menu>li:nth-child(5) {
  transition-delay: 250ms, 250ms
}

.main-menu>li:nth-child(4) {
  transition-delay: 200ms, 200ms
}

.main-menu>li:nth-child(3) {
  transition-delay: 150ms, 150ms
}

.main-menu>li:nth-child(2) {
  transition-delay: 100ms, 100ms
}

.main-menu>li:nth-child(1) {
  transition-delay: 50ms, 50ms
}

.tm:checked~.main-menu>li,
.tm:target~.main-menu>li {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none
}

.tm:checked~.main-menu>li:nth-child(1),
.tm:target~.main-menu>li:nth-child(1) {
  transition-delay: 250ms, 250ms
}

.tm:checked~.main-menu>li:nth-child(2),
.tm:target~.main-menu>li:nth-child(2) {
  transition-delay: 300ms, 300ms
}

.tm:checked~.main-menu>li:nth-child(3),
.tm:target~.main-menu>li:nth-child(3) {
  transition-delay: 350ms, 350ms
}

.tm:checked~.main-menu>li:nth-child(4),
.tm:target~.main-menu>li:nth-child(4) {
  transition-delay: 400ms, 400ms
}

.tm:checked~.main-menu>li:nth-child(5),
.tm:target~.main-menu>li:nth-child(5) {
  transition-delay: 450ms, 450ms
}

.tm:checked~.main-menu>li:nth-child(6),
.tm:target~.main-menu>li:nth-child(6) {
  transition-delay: 500ms, 500ms
}

.tm:checked~.main-menu>li:nth-child(7),
.tm:target~.main-menu>li:nth-child(7) {
  transition-delay: 550ms, 550ms
}

.tm:checked~.main-menu>li:nth-child(8),
.tm:target~.main-menu>li:nth-child(8) {
  transition-delay: 600ms, 600ms
}

.tm:checked~.main-menu>li:nth-child(9),
.tm:target~.main-menu>li:nth-child(9) {
  transition-delay: 650ms, 650ms
}


/* here */

[for="tm"] .menu-toggle {
  top: 15px;
  z-index: 2;
  left: 45px;
  width: 22px;
  height: 4px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

[for="tm"] .menu-toggle span {
  height: 2px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background: #ffffff;
  white-space: nowrap;
  transition: background 0.3s ease-in-out;
}

[for="tm"] .menu-toggle::before,
[for="tm"] .menu-toggle::after {
  left: 0;
  content: '';
  width: 22px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  transform-origin: center center;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, transform 0.2s ease-in-out;
}

[for="tm"] .menu-toggle::before {
  transform: rotate(90deg);
  top: 8px;
}

[for="tm"] .menu-toggle::after {
  bottom: 6px;
  transform: rotate(90deg);
}

.tm:checked~[for="tm"] .menu-toggle span {
  background: rgba(255, 255, 255, 0);
}

.tm:checked~[for="tm"] .menu-toggle::before {
  top: 6px;
  transform: rotate(-45deg);
}

.tm:checked~[for="tm"] .menu-toggle::after {
  bottom: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tm:checked~[for="tm"] .menu-toggle::before,
.tm:checked~[for="tm"] .menu-toggle::after {
  width: 26px;
  background: #fff;
}

.tm:checked~[for="tm"] .menu-toggle:hover span,
.tm:checked~[for="tm"] .menu-toggle:focus span,
.tm:checked~[for="tm"] .menu-toggle:active span {
  background: rgba(255, 255, 255, 0);
}


.tm:checked~[for="tm"] .menu-toggle:hover span,
.tm:checked~[for="tm"] .menu-toggle:focus span,
.tm:checked~[for="tm"] .menu-toggle:active span {
  background: rgba(255, 255, 255, 0);
}

.menu-m a.logo img {
  max-height: 20px;
  height: 20px;
  display: block;
}

@media (min-width: 1024px) {
  .menu-m {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .menu-m:before {
    content: '';
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: #000;
    left: 0;
  }

  .menu-m a {
    width: auto;
    padding: 0 15px;
    line-height: 60px;
  }

  .menu-m a.logo {
    position: relative;
    padding: 0;
    left: 0;
  }

  .menu-m a.logo img {
    height: auto;
    width: 135px;
    max-height: initial;
    padding: 15px 0;
    display: inline-block;
    vertical-align: middle;
  }

  .menu-m ul li a:before,
  .current-menu-item:before {
    content: '';
    display: inline-block;
    height: 1px;
    background-color: white;
    width: 80%;
    position: absolute;
    top: auto;
    bottom: 5px;
    left: 10%;
    transition: opacity .4s ease;
    opacity: 0;
  }

  .menu-m ul li:hover a:before,
  .current-menu-item:before {
    opacity: 1;
  }
}

.main-menu {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.main-menu::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width:768px) {
  .menu-m {
    display: block;
  }

  .logo-text,
  .cat,
  .nav {
    display: none !important;
  }

}

/* fin del menú */

/* media queries nuestras */
@media screen and (max-width: 1366px) {

  body {
    font-size: .9rem;
  }

  body,
  video {
    width: 100vw !important;
  }

  #fix-stills {
    height: 800vh;
  }

  .about-img img {
    width: 87%;
  }

  .about-text {
    font-size: .9rem;
  }
}

@media screen and (max-width:768px) {
  body {
    font-size: .75rem !important;
  }

  html,
  body {
    overflow-x: unset;
  }

  .banner {
    height: 100vh;
    margin-top: -50px;
    margin-bottom: 5px;
  }

  #home-mobile {
    display: block !important;
    height: 100vh;
    object-fit: cover;
  }

  .video-gallery {
    height: 33vh;
  }

  #videos video {
    display: none;
  }

  .gallery-text {
    z-index: inherit;
  }

  .fix {
    display: none;
  }

  #makina2 {
    background: url("/img/makina2.gif");
    background-size: cover;
  }

  #xtranos {
    background: url("/img/xtranos.gif");
    background-size: cover;
  }

  #jcb {
    background: url("/img/jcb.gif");
    background-size: cover;
  }

  #qtsl {
    background: url("/img/qtsl.gif");
    background-size: cover;
  }

  #retorno {
    background: url("/img/retorno.gif");
    background-size: cover;
  }

  .sticky-top {
    display: block !important;
    top: -40vh;
    z-index: 9;
  }

  .sticky-name {
    position: absolute;
    width: 50%;
    margin-top: 41vh;
    left: 25%;
    right: 25%;
    text-shadow: 0 0 5px #fff, 0 0 10px #f0f, 0 0 15px #fff, 0 0 20px;
  }

  .about {
    padding: 3rem 0;
  }

  .btn {
    display: block;
    margin: 3px 0;
  }

  #contact .px-4 {
    padding: 12px 0 !important;
  }

  .about-img img {
    width: 70%;
  }

  .about-text {
    width: 70%;
    --bs-gutter-x: 0;
  }

  .masonryholder {
    column-count: 1;
  }

  .masonryhide {
    display: none;
  }

  .switchit {
    margin-top: 30px;
    margin-bottom: -20px;
  }
	
  #videos a{
	height: 100%;
    display: block;
  }
}

/* sizes
fix
window.innerHeight 629 y 1366 800vh
window.innerHeight 941 y 1920 530vh
window.innerHeight 761 y 1440 625vh

window.innerHeight 629 y 1366 800vh
window.innerHeight 941 y 1920 530vh
window.innerHeight 761 y 1440 625vh

*/

/* Custom Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 50, 255, .75);
  box-shadow: inset 0 0 6px rgba(255, 50, 255, .75);
  border-radius: 5px;
  background-color: #F8F;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F8F;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(255, 50, 255, .75);
  box-shadow: inset 0 0 5px rgba(255, 50, 255, .75);
  background-color: #fff;
}

/* End Custom Scrollbar */
.switchit {
  font-size: .6rem;
}

.heart {
  text-shadow: #f7f 0px 0px 5px,
    #f7f 0px 0px 10px,
    #f7f 0px 0px 15px,
    #ff2d95 0px 0px 20px,
    #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px,
    #ff2d95 0px 0px 75px;
  font-size: .75rem;
}