body {
  background-color: black;
  overflow-x: hidden;
  
  }
  
*{
  font-family: jaf-domus-titling-web, sans-serif;
}

  h1 {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 100;
    font-style: normal;
    color: whitesmoke;
  }
  h2 {

    font-size: 5em;
    line-height: 1.2em;
    font-weight: 100;
    font-style: normal;
    color: black;
  }
  
  h3 {
    font-size: 2em;
    font-weight: 100;
    font-style: normal;
    color: whitesmoke;
  }
  
  p {
    font-size: 3em;
    line-height: 1.8em;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    color: whitesmoke;
  }


  .video-banner {
    position: sticky;
    z-index: 1400;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);


  }

  .video-gallery {
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 1400;
  }

  .video-gal {
    position: relative;
    width: 100vw;

  }

  .gallery-text {
    background-color: rgba(255, 138, 202, 0.7);
    font-size: 0.4em;
    left: 0vh;
    top: 80%;
    position: absolute;
    width: auto;
    padding-left: 13vh;
    padding-right: 2vh;
    z-index: 1500;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

          /* Stills Gallery */

          
          .stills-gallery {
              position: -webkit-sticky;
              position: sticky;
              top: 0px;
              margin: 0;
              padding: 0;
              background: black;
              padding-bottom: 15vh;
          }
          
          .stills {
              position: absolute;
              left:0;
                  right:0;	
              width: 100vw;
              height: 100vh;		
              justify-content: center;
              align-items: center;
                  object-fit: scale-down;
              overflow-x: hidden;
          
            }
          #stills1{
          
            z-index: 1000;
          }
          #stills2{
          
            z-index: 900;
          }
          #stills3{
          
            z-index: 800;
          }
          #stills4{
          
            z-index: 700;
          }
          #stills5{
          
            z-index: 600;
          }
          #stills6{
          
            z-index: 500;
          }
          #stills7{
          
            z-index: 400;
          }
          #stills8{
          
            z-index: 300;
          }
          #stills9{
          
            z-index: 200;
          }
          #stills10{
          
            z-index: 100;
          }

          .img-gallery{
            position: relative;
            margin-bottom: 20vh;
            
          }
          
          .masonryholder{
          
            position: relative;
          
          }
          
          /* Important for images to be displayed correctly */
          img {
            width: 100%;
          }
          
          
          .masonry-text{
            color: white;
            padding: 15px;
            background-color:#5f3e75; 
            font-size: 0.9em; 
            font-family: neusa-next-std,sans-serif; 
            font-weight: 100; 
            font-style: normal ;
          
          }
          #textos{
          
            background-color:#5f3e75; 
          }

          .btn-mas{
    
            position: fixed;
            top: 5px;
            left: 30px;
            font-size: 3em;
            line-height: 1em;
            font-weight: 200;
            font-style: normal;
            z-index: 1900;
            cursor: auto;
            display: block;
            text-align: left;
            color: black;
            text-shadow: 0 0 5px #fff, 0 0 10px #f0f, 0 0 15px #fff, 0 0 20px;
            background: inherit;
            border: none;
          }
